*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-section{
    display: flex;
    height: 100vh;
    background-color: #626262;
}

.carousel-wrapper{
    width: 70%;
    height: 70% ;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side{
    width: 15%;
    height: 100%;
    display: flex;
}

.left-side i, .right-side i{
    margin: auto;
    cursor: pointer;
}

.center{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slides{
    width: 100%;
    height: 80%;
}

.circles{
    margin-top: 20px;
}

.center img{
    display: none;
    width: 100%;
    height:  100%;
    object-fit: cover;
    border-radius: 5px;
}

.center img.is-visible{
    display: block;
}

.fa-circle{
    color: white;
}

.filled-circle{
    background: #121212;
}
